body { font-family: helvetica; }  
section { width: 800px; position: relative; }
h1 { font-weight: bold; text-align: center; padding: 10px; }  
ul { text-align: center; }
ul li { display: inline-block; }